@page
@using System.Text.RegularExpressions
@model WebApp_UnderKo.Pages.apilistModel
@{
    ViewData["Title"] = "Web Api";

    int count = 0;
    string name_ = string.Empty;



}
<script>
    function unsecuredCopyToClipboard(text) {
        const textArea = document.createElement("textarea");
        textArea.value = text.trim().replace('\n\t', '');
        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();
        try {
            document.execCommand('copy');
            console.log("Copy: " + text)
        } catch (err) {
            console.error('Unable to copy to clipboard', err);
        }
        document.body.removeChild(textArea);
    }
    function copu(nameinput, namebutton) {
        let input = $('#' + nameinput)
        let text__ = input.innerHTML || input.innerText || input.textContent || input.text() || input.var()

        unsecuredCopyToClipboard(text__);
    }

</script>

<div class="container">

    @if (WebApp_UnderKo.Models.G_.CacheData.apiList != null && WebApp_UnderKo.Models.G_.CacheData.apiList.webApis != null)
    {
        @foreach (var item in WebApp_UnderKo.Models.G_.CacheData.apiList.webApis)
        {
            name_ = Regex.Replace(item.Name, "[\\W/+-=]+", "");


            <div class=" container-fluid bordeer-tlbr-bottom pb-1 mb-2">
                <div class="mb-1">
                    <h1 class="display-6 fw-bold">@item.Name</h1>
                    <p class="col-md-8 fs-5">@item.Description</p>

                    <code style="background:var(--header)" type="text" class="text-muted">
                        @(item.URL)
                    </code>



                </div>
                <div class="d-flex flex-column">
                    @foreach (var querie in item.reqQueries)
                    {
                        <div class="d-flex flex-row">
                            <div class="p-2 text-info">@querie.Type</div>
                            <div class="p-2 text-muted">@querie.Parametr</div>

                        </div>
                    }




                </div>

                <button onclick="window.open('@(item.URL)','_blank');" class="btn btn-dark text-muted ps-5 pe-5">
                    Get
                </button>
                <button onclick="unsecuredCopyToClipboard('@(item.URL)')" class="btn btn-dark text-muted ps-5 pe-5">
                    Copy
                </button>
            </div>


        }

    }
    else
    {
        <h1>Навернулась шаурма</h1>
        <h2 class="ms-lg-2">Усе, приехзали, сайт сломалься </h2>
        <h3 class="ms-lg-5">Шаурvа! Шаурvvmaа, мершгнисьб!</h3>
        <h4>о нет... ее селюииыфв ббюю ю....... </h4>

        <div class="ms-lg-5">
            <h4>памаги </h4>
            <h5 class="ms-lg-5">... те </h5>
        </div>


        <div class="ms-lg-4 mt-5">
            <h4>Смерть от черезмерной мастурбации... </h4>

        </div>
        <div class="ms-lg-5 mt-2">
            <h6>By UnderKo</h6>

        </div>
    }

</div>
