@page
@using WebApp_UnderKo.Models.XamlProjectObject.Project
@model WebApp_UnderKo.Pages.projectModel
@{
    ViewData["Title"] = "Projects";
    async Task a_Button(string LinkDownload, string text)
    {
        <a href="@LinkDownload" style="width:100%" class="btn fs-6 bordeer-tlbr btn-dark  btn-lg  m-1"> @text </a>
    }
    async Task button_Button(string LinkDownload, string text)
    {
        <button onclick="@(LinkDownload)" style="width:100%" class="btn fs-6 bordeer-tlbr btn-dark  btn-lg  m-1"> @text </button>
    }
    async Task BackImage(string url, double opacity = 0.8, int blur = 5)
    {
        // http://localhost:7076/file?name=smdcompile/smdcompile_1.png
        int mar = 0;
        <div style="position: absolute; left: @(mar)px; right: @(mar)px; top: @(mar)px; bottom: @(mar)px;
                                                                  background-image: url('/img/@url'); opacity: @(opacity.ToString().Replace("," , ".")); filter:blur(@(blur)px); z-index:-10"></div>
    }

    async Task YouTubeEmbed(string id)
    {
        <div class="col-md-4">
            <div class="card mb-2" style="background: transparent">
                <iframe class="card-img-top" style=" width: 100%; display: block;" src="https://www.youtube.com/embed/@(id)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""></iframe>
            </div>
        </div>
    }

    async Task Fu(string name, string descr)
    {
        <div class="col-md-4 col-12" data-cue="slideInLeft" data-show="true" style="animation-name: slideInLeft; animation-duration: 600ms; animation-timing-function: ease; animation-delay: 0ms; animation-direction: normal; animation-fill-mode: both;">
            <div class="d-flex flex-column gap-4">

                <div>
                    <h4 class="mb-2">@name</h4>
                    <p>@descr</p>
                </div>
            </div>
        </div>
    }
}

<div class="container mt-2 pb-2">
    @if (string.IsNullOrEmpty(Model.NameProject))
    {


        @foreach (var project in WebApp_UnderKo.Models.G_.CacheData.xamlProjectsData.Projects)
        {
            <div class="bg-image position-relative bordeer-tlbr rounded-3 overflow-hidden  text-center bg-body-tertiary mb-3">
                @{
                    await BackImage(project.Images.FirstOrDefault<string>(string.Empty));
                }


                <div style="z-index:10" class="col-md-8 p-lg-1 mx-auto my-1 mt-3 mb-3">
                    <h1 class="display-5 fw-bold">@project.Name</h1>
                    <h5 class="fw-normal text-muted mb-3">@project.Description </h5>
                    <div class="d-flex gap-3 justify-content-center lead fw-normal">
                        @{
                            // await a_Button($"/project?name={project.Name}", "Learn more");
                            await a_Button($"/project?name={project.Name}", "Learn more");


                        }

                    </div>
                </div>

            </div>
        }



    }
    else
    {

        @if (Model.project.Images.Count > 0)
            await BackImage(Model.project.Images[0] , 0.5 , 5);
        <div class="px-4 mt-5 text-center">

            <h1 class="display-5 fw-bold text-body-emphasis">@Model.project.Name</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">
                    @Model.project.Description
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    @foreach (Button item in Model.project.ButtonsTop)
                    {

                        await button_Button(item.Command, item.Text);
                    }
                     
                    @if (!string.IsNullOrEmpty(Model.project.LastGithubVersion))
                    {
                        await button_Button($"window.open('/Releases?name={Model.NameProject}','_blank');", "Releases");
                    }
                    
                </div>
            </div>
            @if (Model.project.Downloads > 0)
            {
                <div class="row justify-content-center mt-3">
                    <p class="col-lg-8 mx-auto fs-5 text-white-50">
                        Downloads: <strong class="text-uppercase"> @Model.project.Downloads </strong>
                    </p>
                    @if (!string.IsNullOrEmpty(Model.project.LastGithubVersion))
                    {
                        <p class="col-lg-8 mx-auto fs-5 text-white-50">
                            Version: <strong class="text-uppercase"> @Model.project.LastGithubVersion </strong>
                        </p>

                    }
                    
                </div>
            }
            
        </div>
        <section class=" py-lg-1 py-1 p-1 mb-3">
            <div class="container my-lg-7 mt-3">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-1 text-center" data-cue="fadeIn" data-show="true" style="animation-name: fadeIn; animation-duration: 600ms; animation-timing-function: ease; animation-delay: 0ms; animation-direction: normal; animation-fill-mode: both;">
                            <h2 class="mb-0">Screenshots / Video</h2>
                        </div>
                    </div>
                </div>

            </div>

            @if (Model.project.Images.Count > 0)
            {
                <div class="container">

                    <div class="row mt-2" id="li_images">

                        @foreach (var item in Model.project.Images)
                        {
                            <div class="col-md-4">
                                <div class="card mb-2" style="background: transparent">
                                    <img src="/files/img/@(item)" class="card-img-top" style=" width: 100%; display: block;" data-bs-toggle="modal" data-bs-target="#exampleModal" alt="...">
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }



            @if (Model.project.YouTubeLinks.Count > 0)
            {
                 
                <div class="container">
                    <div class="row mt-2">
                        @foreach (var item in Model.project.YouTubeLinks)
                        {
                            await YouTubeEmbed(item);
                        }
                    </div>
                </div>
            }




            @if (Model.project.Features.Count > 0)
            {
                <div class=" container my-lg-7 mt-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-5 text-center" data-cue="fadeIn" data-show="true" style="animation-name: fadeIn; animation-duration: 600ms; animation-timing-function: ease; animation-delay: 0ms; animation-direction: normal; animation-fill-mode: both;">
                                <h2 class="mb-0">Достоинства программы</h2>
                            </div>
                        </div>

                        <div class="row">

                            @foreach (var item in Model.project.Features)
                            {
                                await Fu(item.Text, item.Description);
                            }


                        </div>
                    </div>
                </div>
            }

        </section>

    }
</div>